* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font,
    Noto Sans CJK JP;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

window#waybar {
    background: #730000;
    color: black;
}

#cpu {
	min-width: 60px;
}

#memory {
	min-width: 80px;
}

#wireplumber {
	min-width: 80px;
}

#custom-leviathan {
	background-image: url("assets/Waybar_1.png");
	background-size: cover;
	background-position: center;
}

#custom-leviathan:hover {
    color: #701705;
}

#clock {
	background-image: url("assets/Waybar_1.png");
	background-size: cover;
	background-position: center;
	padding: 0px 10px;
	font-weight: bold;
	font-size: 14px;
}

#workspaces {
	color: #000000;
	background-image: url("assets/Waybar_1.png");
	background-size: cover;
	background-position: center;
}

#custom-notification,
#custom-vesktop,
#custom-steam {
	color: #FFFFFF;
}

#cpu:hover,
#memory:hover,
#network:hover,
#wireplumber:hover {
    background: #444;
}

#cpu,
#memory,
#network,
#wireplumber,
#custom-notification,
#custom-vesktop,
#custom-steam {
	margin-right: 6px;
}

#workspaces buttom {
	color: white;
	background: rgba(255, 255, 255, 0.15);
}

#workspaces button.empty {
	color: #666666;
	background: rgba(254, 254, 255, 0.30);
}

#workspaces button.active {
	background: white;
	color: #730000;
}
